<mat-progress-bar mode="indeterminate" *ngIf="isLoading$" class="fixed top-0 w-screen z-50"></mat-progress-bar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      @if ((isHandset$ | async)) {
      <a routerLink="/" class="flex items-center">
        <span>StoryWeaver</span>
      </a>
      } @else {
      <span>Menu</span>
      }
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="h-screen">
    <mat-toolbar class="flex justify-between">
      <div class="flex items-center">
        @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        }
        @if (!(isHandset$ | async)) {
        <a routerLink="/" class="flex items-center">
          <span>StoryWeaver</span>
        </a>
        }

      </div>
      <div class="min-w-[5rem] flex justify-end">
        <button routerLink="/write" mat-button class="mr-7">
          <mat-icon class="w-15">
            <img ngSrc="assets/Icons/author.svg" alt="Author Icon" fill/>
          </mat-icon>
          <p class="text-base mt-3">Write</p>
        </button>
        @if(isAuthenticated$ | async) {
        <button mat-button [matMenuTriggerFor]="userMenu" class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground rounded-full">
          <img
            ngSrc="assets/Images/Profile/default_avatar.svg"
            width="32"
            height="32"
            class="rounded-full"
            alt="Avatar"
            style="aspect-ratio: 32 / 32; object-fit: cover;"
          />
          <span class="sr-only">Toggle user menu</span>
        </button>
        } @else {
        <button routerLink="/register" mat-raised-button color="primary" class="mr-3">
          Sign up
        </button>
        <button routerLink="/login" mat-button class="">
          Sign in
        </button>
        }

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="profile">Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <section class="main flex justify-center items-start h-full">
      <div>
        <router-outlet></router-outlet>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
