<div>
  <h1 class="text-3xl font-bold text-start mb-4">Weekly Novel</h1>
  <mat-divider class="mb-4"></mat-divider>
  <div class="flex flex-col md:flex-row items-center md:items-start">
    <div class="p-2 flex justify-center md:justify-start md:w-1/3">
      <img matRipple [matRippleUnbounded]="false" src="https://placehold.co/400x600" class="w-2/3 md:w-full md:max-w-[150px] rounded-lg" alt="Weekly novel preview image">
    </div>
    <div class="text-center md:text-left p-2 md:pl-6 max-w-2xl">
      <h2 class="text-2xl font-semibold mb-2">The World in the Shadows</h2>
      <p class="text-gray-700">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
      </p>
    </div>
  </div>
</div>
