<mat-card class="w-screen md:w-[35rem] shadow-none md:drop-shadow">
  <mat-card-header>
    <mat-card-title>
      <h1 class="text-3xl font-bold">Login</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      @if (formUnexpectedError || formGeneralErrorMessage) {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-5" role="alert">
          <strong *ngIf="formUnexpectedError" class="font-bold">Holy smokes!</strong>
          <span class="block sm:inline">{{ formUnexpectedError ? 'Something seriously bad happened.' : formGeneralErrorMessage }}</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <mat-icon (click)="clearAlert()" class="hover:cursor-pointer" aria-hidden="false" aria-label="Close Alert" fontIcon="close"></mat-icon>
          </span>
        </div>
      }
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl"
               placeholder="Ex. pat@example.com" autocomplete="email">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" placeholder="">
        @if (passwordFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <div class="flex items-center justify-between">
        <mat-checkbox class="mb-2 mt-0" [formControl]="rememberMeFormControl">Remember Me</mat-checkbox>
        <a class="text-sm text-blue-500 hover:underline" routerLink="/forgot-password">Forgot Password?</a>
      </div>

    <mat-card-actions>
      <button mat-raised-button class="w-full" color="primary" type="submit">Login</button>
    </mat-card-actions>
      <div class="flex items-left ml-2">
        <p class="text-sm text-gray-500 m-0">Don't have an account?</p>
        <a class="text-sm text-blue-500 hover:underline ml-2" routerLink="/register">Sign Up</a>
      </div>
    </form>
    <div class="divider flex items-center">
      <div class="left-divider w-full">
        <mat-divider></mat-divider>
      </div>
      <div class="center-divider p-5">
        <p class="text-sm text-gray-500 m-0">Or</p>
        </div>
      <div class="right-divider w-full">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="flex justify-center w-full">
      <app-web-authn-auth class="w-full"></app-web-authn-auth>
    </div>
  </mat-card-content>
</mat-card>
