<mat-card class="md:min-w-[30rem]">
  <mat-card-header>
    <mat-card-title>
      <h1 class="text-3xl font-bold">Login</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      @if (formUnexpecterError || formGeneralErrorMessage) {
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-5" role="alert">
          <strong *ngIf="formUnexpecterError" class="font-bold">Holy smokes!</strong>
          <span class="block sm:inline">{{ formUnexpecterError ? 'Something seriously bad happened.' : formGeneralErrorMessage }}</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <mat-icon (click)="clearAlert()" class="hover:cursor-pointer" aria-hidden="false" aria-label="Close Alert" fontIcon="close"></mat-icon>
          </span>
        </div>
      }
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl"
               placeholder="Ex. pat@example.com" autocomplete="email">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" placeholder="">
        @if (passwordFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-checkbox class="mb-2 mt-0" [formControl]="rememberMeFormControl">Remember Me</mat-checkbox>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
